name: bill
description: a bill record application build with flutter by rwson

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  fl_chart: 0.8.0
  flutter_daydart: 0.0.3
  fluro: 1.5.1
  percent_indicator: 2.1.1+1
  flutter_swiper: 1.1.6
  dio: 3.0.8
  shared_preferences: 0.5.6+1
  mobx: 1.0.1
  flutter_mobx: 1.0.1
  json_annotation: 3.0.1
  splashscreen: 1.2.0
  bot_toast: 2.2.1
  flutter_cupertino_localizations: 1.0.1
  device_info: 0.4.1+4
  flt_telephony_info: 0.1.3
  mobpush_plugin: 1.0.9
  # moblink: 3.3.6
  path_provider: 1.6.0
  flutter_rounded_date_picker: 1.0.3
  image_picker: 0.6.3+1
  loading_animations: 2.1.0
  positioned_tap_detector: 1.0.3
  charts_flutter: 0.9.0
  flutter_statusbar_manager:
    git: https://github.com/guitcastro/flutter_statusbar_manager.git

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: 1.7.3
  mobx_codegen: 1.0.1
  json_serializable: 3.2.5

# flutter packages pub run build_runner watch --delete-conflicting-outputs

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

  assets:
    - lib/assets/avatar.png
    - lib/assets/circle.png
    - lib/assets/limit.png
    - lib/assets/reminder.png
    - lib/assets/task.png

  fonts:
    - family: iconfont
      fonts:
        - asset: lib/fonts/font.ttf